<h1>Welcome to R-Tunes!</h1>
<p>Is this our index page? who knows!</p>

<h3>What do you want to do?</h3>
    <ul><%= link_to 'Show Library', albums_path %></ul>
    <ul><%= link_to 'New Album', new_album_path %></ul>
    <ul><%= link_to 'New Song', new_song_path %></ul>

<p><%= link_to 'Index', index_index_path %></p>